.wrapper{
	padding-top: 50px;
	width: 100%;
}
.header{
	display: flex;
	flex-direction: column;
	gap: 5px;
	.title{
		font-size: 48px;
		font-weight: 500;
		line-height: 58.09px;
		text-align: left;
	}
	.subtitle{
		font-size: 18px;
		font-weight: 500;
		line-height: 21.78px;
		text-align: left;
		color: rgba(136, 136, 136, 1);
	}
}
.flex{
	display: flex;
	gap: 50px;
	margin-top: 50px;
	width: 100%;
	.main{
		display: flex;
		flex-direction: column;
		max-width: 70%;
		flex: 1;
		gap: 80px;
		width: 100%;
	}
	.sidebar{
		flex-grow: 1;
		max-width: 30%;
	}
}
.snippetsWrapper{
	overflow-x: auto;
	height: fit-content;
	&::-webkit-scrollbar {
		display: none;
	}
	.snippetsFlex{
		display: flex;
		gap: 10px;
		align-items: center;
		width: fit-content;
		height: fit-content;
	}
}

.authorsWrapper{
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	.authorsFlex{
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}
