.flex{
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;
	width: 100%;
	.label{
		color: $text-secondary;
		font-family: Inter;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 400;
		line-height: 130%; /* 1.1375rem */
		letter-spacing: 0.01563rem;
		span{
			color: $error-main;
		}
	}
}
.wrapper{
	display: flex;
	position: relative;
	border: none;
	border-bottom: 1px solid#E2E4E7;
	background: #ffffff00;
	align-items: center;
	gap: .75rem;
	padding: 20px 0px 20px 0px;
	input:-webkit-autofill,
	inpinput:-webkit-autofill,
	input:-webkit-autofill:hover, 
	input:-webkit-autofill:focus, 
	input:-webkit-autofill:active{
			-webkit-background-clip: text;
			-webkit-text-fill-color: #fff;
			transition: background-color 5000s ease-in-out 0s;
			box-shadow: inset 0 0 20px 20px #23232300;
	}
	input{
		border: none;
		background: none;
		outline: none;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;		
		flex: 1;
		color: #fff;

		&::placeholder{
			color: #fff;
		}
	}
	button{
		border: none;
		background: none;
		display: flex;
		justify-content: center;
		align-items: center;
		svg{
			opacity: .4;
			object-fit: contain;
			&:hover{
				transition: .4s opacity;
				opacity: 1;
			}
		}
	}
	&:not(:disabled):hover{
		border-color: $primary-main;
		transition: .4s border-color;
	}
	&:not(:disabled):has(input:focus){
		border-color: $primary-main;
	}
	&.isInvalid{
		border-color: $error-main !important;
		transition: .4s border-color;	
	}
}
.wrapperRadio{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	input{
		display: none;
	}
	label{
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 10px;
	}
	.icon{
		color: #ffffff00;
		border: 1px solid rgba(217, 217, 217, 0.2);
		border-radius: 100%;
		padding: 2px;
		&.active{
			color: rgba(217, 217, 217, 0.2);
			transition: .4s;
		}
	}
	span{
		color: rgba(255, 255, 255, 1);
		font-size: 18px;
	}
}
.error{
	color: $error-main;
	font-family: Inter;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 130%; /* 1.1375rem */
	letter-spacing: 0.01563rem;
}